<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.test1"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" 
            
            
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".LinearTest"
            android:label="@string/app_name" >
            
        </activity>
        
        <activity
            android:name=".IntentCallTest"
            android:label="@string/app_name" >
            
        </activity>
         <activity
            android:name=".ListAdapterTest"
            android:label="@string/app_name" >
            
        </activity>
        
          <activity
            android:name=".TimeSetDemo"
            android:label="@string/app_name" >
            
        </activity>
        
          <activity
            android:name=".InteractiveList"
            android:label="@string/app_name" >
            
        </activity>
        
          <activity
            android:name=".AlertTest"
            android:label="@string/app_name" >
            
        </activity>
        
        <activity
            android:name=".HttpTest"
            android:label="@string/app_name" >
            
        </activity>
    </application>

</manifest>
